<div class="d-flex justify-content-center">
  <div class="card row col-lg-6 col-md-8 col-12 my-5">
    <div class="card-header text-primary text-center h2">Sign up</div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
        <label for="username">Username</label>
        <div class="input-group mb-2">
          <input
            [ngClass]="
              (signUpForm.get('username')?.touched ||
                signUpForm.get('username')?.dirty) &&
              signUpForm.get('username')?.hasError('required')
                ? 'is-invalid'
                : ''
                ? 'is-invalid'
                : '' ||
                  ((signUpForm.get('username')?.touched ||
                    signUpForm.get('username')?.dirty) &&
                    !signUpForm.get('username')?.invalid)
                ? 'is-valid'
                : ''
            "
            type="text"
            name="username"
            class="form-control"
            placeholder="Username"
            formControlName="username"
          />
          <span class="input-group-text">@</span>
          <div class="invalid-feedback">
            {{
              signUpForm.get("username")?.hasError("required")
                ? "Username is required!"
                : ""
            }}'
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="email">Email address</label>
          <input
            [ngClass]="
              (signUpForm.get('email')?.touched ||
                signUpForm.get('email')?.dirty) &&
              signUpForm.get('email')?.hasError('email')
                ? 'is-invalid'
                : (signUpForm.get('email')?.touched ||
                    signUpForm.get('email')?.dirty) &&
                  !signUpForm.get('email')?.invalid
                ? 'is-valid'
                : ''
            "
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter email"
            formControlName="email"
          />
          <div class="invalid-feedback">
            {{ signUpForm.get("email")?.errors ? "Email is required!" : "" }}'
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="password">Password</label>
          <input
            [ngClass]="
              (signUpForm.get('password')?.touched ||
                signUpForm.get('password')?.dirty) &&
              signUpForm.get('password')?.hasError('minlength')
                ? 'is-invalid'
                : (signUpForm.get('password')?.touched ||
                    signUpForm.get('password')?.dirty) &&
                  !signUpForm.get('password')?.invalid
                ? 'is-valid'
                : ''
            "
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <div class="invalid-feedback">
            {{
              signUpForm.get("password")?.errors ? "Password is required!" : ""
            }}'
          </div>
          <small class="form-text text-muted"
            >Password must be at least 5 digits</small
          >
        </div>

        <button
          [disabled]="!signUpForm.valid"
          type="submit"
          class="btn btn-primary btn-block text-light"
        >
          Create account
        </button>
      </form>
    </div>
  </div>
</div>
